@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

button:hover {
    cursor: pointer;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

.card {
    margin: 16px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 4px 20px rgba(0, 0, 0, 0.19);
}

.card-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.card-cabecalho button {
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
}

.card-titulo {
    font-weight: bold;
    text-transform: uppercase;
}

.card img {
    width: 90vw;
    height: 30vh;
    border-radius: 6px;
    object-fit: cover;
}

.card span {
    font-weight: bold;
}

.card-infos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-estoque {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-estoque select,
.modal-estoque input {
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    margin-top: 4px;
    outline: none;
    text-transform: uppercase;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 40% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content span {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 4px;
    cursor: pointer;
}

.modal-content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-weight: bold;
}

.modal-content button {
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
}

.divFgEsgotado {
    display: flex;
    align-items: center;
}

.divFgEsgotado input {
    margin-right: 4px;
    margin-top: 0;
}

.divFgEsgotado label {
    margin-bottom: 0;
}
